body {
	padding-top: 50px ;
	
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('escritorio6.jpg');
	background-size: cover;
	
}

.conteiner {
	background: url("frame.png");
	padding: 20px;
	border-radius: 10px;
	border-bottom:  20px solid #2e2e2e;
	border-right: 5px solid #2e2e2e ;
	box-shadow: 10px 0px 30px;
}

.calculator {

	border-radius: 10px;
	text-align: right;
	
}

.display {
	
	height: 15vh;
	margin-bottom: 20px;
	border-radius: 10px;
	background: #758272;
	
	
}

.input {
	display: grid;
	background: #2b242b;
	padding: 3px;
	border-radius: 5px;
	grid-template-columns: 1fr 1fr 1fr 1fr;

}

button {
	background: url("key3.png");
	border: none;
	height: 90px;
	width: 90px;
	color: white;
	font-size: 1.5em;
	font-family: Tahoma;
}

button:active {
	background: url("key8.png");
	padding-top: 20px;
}

#output {
	font-size: 2.4em;
	font-family: Tahoma;
	padding-right: 20px;
	padding-top: 10px;

}
 #result {
 	font-size: 2em;
	font-family: Tahoma;
	padding-right: 20px;
	padding-top: 10px;
	
 }
 
 @keyframes big{
 	0%{
 		font-size: 2em;
 	}
 	100%{
 		font-size: 2.4em;
 	}
 }

 @keyframes small{
 	0%{
 		font-size: 2.4em;
 	}
 	100%{
 		font-size: 2em;
 	}
 }